* {
  margin: 0;
  padding: 0;
}
body {
  font-family:Arial, Helvetica, sans-serif;
  display: flex;
  /* height: 100%; */
}

.left-container {
  position: relative;
  flex: 1 1 30%;
  border: 5px solid blue;
}

.image-fit {
  width: max(150px, 100%);
	height: max(150px, 100%);
}

.logo-background {
  background: black;
  position: absolute;
  height: 15%;
  opacity: 0.6;
  width: 100%;
  transform: translate(0px, -600%);
  
}

.logo-name, .logo-desc {
  color: white;
  position: absolute;
}

.logo-name {
  font-size: 4vw;
  font-weight: lighter;
  top: 5.5vw;
  left: 5vw;
}

.logo-desc {
  font-size: 1.5vw;
  font-style: italic;
  font-weight: lighter;
  top: 7.3vw;
  left: 15vw;

}

.right-container {
  position: relative;
  flex: 1 1 70%;
  border: 5px solid red;
  background-color: aliceblue;
}

.signup-form {
  background-color: white;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}