body {
  display: flex;
}

#left-container {
  position: relative;
  border: 5px solid red;
  width: 33%;
}

#bg-img {
  /* width: clamp(500px, 100%, 1000px); */
  width: max(33%, 100%);
}

#logo-container {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  color: white;
  top: 20rem;
  background: black;
  height: 15%;
  opacity: 0.6;
  width: max(33%, 100%);
}

#logo-image {
  /* position: absolute; */
  font: Arial;
  font-size: 3vw;

  /* font-size: 3vw; */
  width: min(300px, 100%);
  /* height: min(100px, 100%); */
  /* background-color: greenyellow; */

  /* left: 15rem; */
  /* align-self: center; */

  text-align: center;
  border: 3px solid green;
}

#logo-text {
  /* position: absolute; */
  font: Arial;

  font-size: 1.5vw;
  width: min(600px, 100%);
  /* height: 100%; */
  /* height: min(100px, 100%); */

  /* left: 25rem; */
  /* align-self: center; */

  text-align: center;
  /* background-color: blue; */
  border: 3px solid rgb(36, 0, 128);
}

#right-container {
  width: 67%;
  border: 5px solid blue;
  background-color: rgb(242, 247, 252);
}

#top-text1, #top-text2 {
  font: 30px Arial, sans-serif;
  font-weight: bold;

  margin: 10rem;
}

div > label {
  font: bold 12px Arial, sans-serif;
  text-transform: uppercase;
}

button, label, input {
  display: flex;
  font-family: inherit;
  font-size: 100%;
  /* padding: 0; */
  /* margin: 0; */
  /* box-sizing: border-box; */
  width: 10%;
  /* padding: 5px; */
  height: 25px;
  padding-left: 5px;
}

#top-container {
  border: 6px solid green;
}

#info-container {
  border: 3px solid salmon;
  background-color: white;
}

#button-area {
  border: 3px solid beige;
}

input[type=email] {
  -webkit-appearance: none;
  appearance: none;

  border: 1px solid #333;
  margin: 0;

  font-family: inherit;
  font-size: 90%;

  box-sizing: border-box;
}

input:invalid {
  border-color: #900;
  background-color: #FDD;
}

.error {
  width: 100%;
  padding: 0;

  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;

  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}
